# File extensions
*.parquet
*.xlsx
*.csv
*.json

# Notebooks
*.ipynb

# Airflow folders
logs/
plugins/

# Mac cache
.DS_Store

# Python cache
__pycache__

# DBT
dags/silver_stage/target/
dags/silver_stage/dbt_packages/
dags/silver_stage/logs/

.gitignore